{% extends "crud_blog/base.html" %} 
{% load static %} 

{% block title %}
Aritcle
{% endblock title %}
{% block content %}
    <main class="blog-post-single">
        <div class="container">
            <h1 class="post-title wow fadeInUp">{{ article.title }}</h1>
            <div class="row">
                <div class="col-md-8 blog-post-wrapper">
                    <div class="post-header wow fadeInUp">
                        <img src="{{ article.image }}" alt="blog post" class="post-featured-image">
                        <p class="post-date">{{ article.timestamp }}</p>
                    </div>
                    <div class="post-content wow fadeInUp mb-5">
                        <p>
                            {{ article.content }}
                        </p>
                    </div>

                    {% comment %} <div class="post-tags wow fadeInUp">
                        <a href="#!" class="post-tag">Design Studio</a>
                        <a href="#!" class="post-tag">Creative Design</a>
                    </div> {% endcomment %}

                    {% comment %} <div class="post-navigation wow fadeInUp">
                        <button class="btn prev-post"> Prev Post</button>
                        <button class="btn next-post"> Next Post</button>
                    </div> {% endcomment %}

                    <div class="comment-section wow fadeInUp">
                        <h5 class="section-title">Comments</h5>

                        <div class="comment-section">
                            {% for comment in comments %}
                            <hr>
                                <p class="section-sub-title">
                                    {{ comment.user.username }}
                                </p>
                                <p class="section-title">
                                    {{ comment.message }}
                                </p>
                            {% endfor %}
                        </div>
                    </div>

                    {% if user.is_authenticated %}
                    <div class="comment-section wow fadeInUp">
                        <h5 class="section-title">Leave a Reply</h5>
                        <form method="POST" class="oleez-comment-form">
                            {% csrf_token %}

                            {% comment %} <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="oleez-input" id="fullName" name="fullName" required>
                                    <label for="fullName">*Full name</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="oleez-input" id="fullName" name="email" required>
                                    <label for="email">*Email</label>
                                </div>
                            </div> {% endcomment %}
                            <div class="row">
                                <div class="form-group col-12">
                                    <label for="message">*Message</label>
                                    {{ form.message }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-submit">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% else %}
                    <div class="comment-section wow fadeInUp">
                        <h5 class="section-title alert alert-danger">You must be authenticated before commenting.</h5>
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </main>
{% endblock content %}