{% extends "crud_blog/base.html" %} 
{% load static %} 
{% block title %}
Oleez :: Home
{% endblock title %}
{% block content %}
<main>
  <section>
    <div class="container wow fadeIn">
      <div
        id="oleezLandingCarousel"
        class="oleez-landing-carousel carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img
              src="{% static 'images/Banner_1@2x.jpg' %}"
              alt="First slide"
              class="w-100"
            />
            <div class="carousel-caption">
              <h2 data-animation="animated fadeInRight">
                <span>Zuri</span>
              </h2>
              <h2 data-animation="animated fadeInRight">
                <span>CRUD Blog</span>
              </h2>
              <a
                href="#blogPosts"
                class="carousel-item-link"
                data-animation="animated fadeInRight"
                >View Blog Posts</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-4" id="blogPosts">
    <div class="container">
        <h1 class="oleez-page-title wow fadeInUp">Blog</h1>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="blog-post-card wow fadeInUp">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/Bloggrid/Bloggrid_2.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <a style="color: black;" href="{% url 'article' %}">
                        <h5 class="blog-post-title">Why you must experience design at least once</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="blog-post-card wow fadeInUp">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/Bloggrid/Bloggrid_4.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <a style="color: black;" href="{% url 'article' %}">
                        <h5 class="blog-post-title">Why you must experience design at least once</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="blog-post-card wow fadeInUp">
                    <div class="blog-post-thumbnail-wrapper">
                        <img src="{% static 'images/Bloggrid/Bloggrid_8.jpg' %}" alt="blog">
                    </div>
                    <p class="blog-post-date">January 29, 2020</p>
                    <a style="color: black;" href="{% url 'article' %}">
                        <h5 class="blog-post-title">Why you must experience design at least once</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-5 mb-5">
                    <nav class="oleez-pagination d-flex align-items-center justify-content-center wow fadeInUp">
                        <a href="#!" class="active">01</a>
                        <a href="#!">02</a>
                        <a href="#!">03</a>
                        <a href="#!" class="next">&rarr;</a>
                    </nav>
            </div>
        </div>
    </div>
  </section>

  {% comment %} Recent News and Stories {% endcomment %}
  <section class="oleez-landing-section oleez-landing-section-news">
    <div class="container">
      <div class="oleez-landing-section-content">
        <div class="oleez-landing-section-verticals wow fadeIn">
          <span class="number">05</span>
          <img src="{% static 'images/Logo_2.svg' %}" alt="ollez" height="12px" />
        </div>
        <h2 class="section-title wow fadeInUp">Recent News & Stories.</h2>
        <p class="news-section-subtitle wow fadeInUp">
          Share your stories and news with everyone.
        </p>
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="news-card news-card-1 wow fadeInUp">
              <div class="card-body">
                <div class="author-info media">
                  <img
                    src="{% static 'images/Team_1_Copy_2@2x.jpg' %}"
                    alt="author"
                    class="author-avatar"
                  />
                  <div class="media-body">
                    <h6 class="author-name">Posted by Colabrio</h6>
                    <p class="news-post-date">July 5, 2019</p>
                  </div>
                </div>
                <div class="post-meta">
                  <span class="post-category">Digital Strategy</span> 4 min read
                </div>
                <h5 class="post-title">
                  The Ultimate Guide to Make Your WordPress Journal.
                </h5>
                <a href="#!" class="post-permalink">Read more </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="news-card news-card-2 wow fadeInUp">
              <div class="card-body">
                <div class="author-info media">
                  <img
                    src="{% static 'images/Team_2_Copy_2@2x.jpg' %}"
                    alt="author"
                    class="author-avatar"
                  />
                  <div class="media-body">
                    <h6 class="author-name">Posted by Stormie</h6>
                    <p class="news-post-date">July 5, 2019</p>
                  </div>
                </div>
                <div class="post-meta">
                  <span class="post-category">Personal</span> 4 min read
                </div>
                <h5 class="post-title">
                  The Highly Contemporary UI/UX Design from a london.
                </h5>
                <a href="#!" class="post-permalink">Read more </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="news-card news-card-3 wow fadeInUp">
              <div class="card-body">
                <div class="author-info media">
                  <img
                    src="{% static 'images/Team_3_Copy_2@2x.jpg' %}"
                    alt="author"
                    class="author-avatar"
                  />
                  <div class="media-body">
                    <h6 class="author-name">Posted by Angela</h6>
                    <p class="news-post-date">July 5, 2019</p>
                  </div>
                </div>
                <div class="post-meta">
                  <span class="post-category">Personal</span> 4 min read
                </div>
                <h5 class="post-title">
                  A Color Exercise for our Brand’s Illustration
                </h5>
                <a href="#!" class="post-permalink">Read more </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}
