{% extends "crud_blog/base.html" %} 
{% load static %} 

{% block title %}
Oleez :: Reset Password
{% endblock title %}

{% block content %}
<style>
    section.register_section{
        padding: 50px;
    }

    div.register{
        max-width: 50%;
        margin: auto;
    }

    @media screen and (max-width: 785px){
        div.register{
            max-width: 90% !important;
        }
    }
    p.h3{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
    }
</style>

<section class="register_section">
    <div class="container-fluid">
        <div class="register">
            <p class="h3">
                Register
            </p>

            <form action="" method="post" class="">
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="Email Address">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}