{% extends "crud_blog/base.html" %} 
{% load static %} 

{% block title %}
Oleez :: Reset Password
{% endblock title %}

{% block content %}
<style>
    section.register_section{
        padding: 50px;
    }

    div.register{
        max-width: 50%;
        margin: auto;
    }

    @media screen and (max-width: 785px){
        div.register{
            max-width: 90% !important;
        }
    }
    p.h3{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    input#id_email{
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>

<section class="register_section">
    <div class="container-fluid">
        <div class="register">
            <p class="h3">
                Reset Password
            </p>

            <form method="POST" class="">
                {% csrf_token %}

                <div class="form-group">
                  <!-- <label for="email">Email:</label> -->
                  {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}