{% extends 'base.html' %} 

{% load static %} 

{% block title %} Password Reset Complete - Digital Stade {% endblock title %} 

{% block content %}
<section id="change-password" style="margin-top: 100px;">
  <div class="container">
    <div class="row mt-3 justify-content-center text-center">
      <div class="col-md-10 col-lg-8">
        <div class="mx-auto max-width">
          <h1 class="title font-weight-bold">Password Reset Complete</h1>
          <h3 class="text-muted mt-0 mb-4">
            Yayyy! You have successful reset your password! 😊🌟
          </h3>
          <a
            href="{% url 'accounts:login' %}"
            class="btn btn-danger-form mb-3 btn-block btn-lg"
            >Login Here</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
