{% autoescape off %} 

Hi, {{ user.get_username }} 

We've received a
request to reset your password. If you did not make the request, just ignore
this email. Otherwise, you can reset your password using this link. This
password reset valids for the next 15 minutes. 

{{ protocol}}://{{ domain }}{% url 'blog:password_reset_confirm' uidb64=uid token=token %}

Thanks.. The {{ site_name }} Team

P.S. We also love
hearing from you and helping you with any issues you have. Please reply to this
email if you want to ask a question. If you're having trouble clicking the
password reset button, copy and paste the URL below into your web browser. 
{% endautoescape %}
